@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

.page_borderRadius {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    min-height: 100vh;
    background: #0f0526;
    font-family: "Source Code Pro", monospace;

    .border {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        height: 30%;

        border: 3px solid #51818c;
        color: #51818c;
        padding: 8rem 5rem;
        background-color: #1c0c40;

        input[type="button"] {
            margin-top: 1rem;
            background-color: #1c0c40;
            border: solid 2px #77a6a6;
            padding: 5px;
            color: #77a6a6;

            cursor: pointer;

            &:hover{
                background-color: #77a6a6;
                color: #1c0c40;
            }
        }
    }

    #typeinp {
        -webkit-appearance: none; /* Override default CSS styles */
        -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
        outline-color: #77a6a6;
        background-color: #f2f2f2;
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    #typeinp::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: #77a6a6; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    #typeinp::-moz-range-thumb {
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        border-radius: 0;
        border: 2px solid #77a6a6;
        background: #77a6a6; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    #textCopy {
        display: none;
    }
}
